# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
backend/.env
frontend/.env

# Node.js
node_modules/

# Frontend Build
frontend/dist/
frontend/build/

# Testing
.pytest_cache/

# spaCy
.spacy/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
